<div class="callout callout--primary">
    <div class="grid grid--1x2">
        <div class="callout__content">
            <h2 class="callout__heading">ready to get started</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique ab molestias beatae earum ipsam
                porro, voluptate nesciunt ipsum eius accusantium quos doloremque perferendis, quam atque. Ex ea
                harum error reiciendis?</p>
        </div>
        <a href="#" class="btn btn--secondary btn--streached">get started</a>
    </div>
</div>